.nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.nav-title {
  font-size: 2em;
  font-weight: 800;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  float: left;
}

.header-image {
  max-height: 60px;
}
